{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    transform: rotate(-35deg);
}

 .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: calc(100% + 400px);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    animation: animateSurface 1.5s ease-in-out infinite;
    left: -200px;
}

@keyframes animateSurface {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200px);
    }
}

.container .box .cube {
    position: relative;
    width: 200px;
    height: 200px;
    background: #03e9f4;
    box-shadow: 0 0 5px rgba(3, 233, 244, 1),
    0 0 25px rgb(0, 0, 255),
    0 0 50px rgb(244, 3, 3),
    0 0 100px rgb(11, 244, 3),
    0 0 200px rgba(216, 3, 244, 0.5),
    0 0 300px rgba(244, 220, 3, 0.5);
    animation: animate 1.5s ease-in-out infinite;
    transform-origin: bottom right;

    border-radius: 2px;
}

@keyframes animate {
   0% {
       box-shadow:0 0 50px rgb(255, 0, 0);
       background:rgb(255,65,65);
       width: 400px;
       negative: 400px
   }

   25% {
       box-shadow:0 0 100px rgb(255, 196, 0);
       background:rgb(255, 196, 0);
       width: 400px;
       negative: 400px
   }

    50% {
        box-shadow:0 0 200px rgb(0, 225, 255);
        background:rgb(0,225,225);
        width: 400px;
        negative: 400px
    }
        75% {
            box-shadow:0 0 100px rgb(0, 225, 76);
            background:rgb(0,225,76);
            width: 400px;
            negative: 400px
        }  

100% {
       box-shadow:0 0 50px rgb(255, 0, 0);
       background:rgb(255,65,65);
       width: 400px;
       negative: 400px
}
    }
}